.signup-css
{
    display: flex;
    height: 100vh;

    flex-direction: row;
   
    /* color: rgb(84, 229, 229); */
    
    background-color:white;
}
.con-1
{
   background-color:#e9ecef;
   padding: 17px;
   width: 20%;
}
.con-1-1
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.con-1-2
{
    margin-top:30px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color: blueviolet; */
}
.con-sub
{
    display: flex;
    flex-direction: row;
    /* background-color: brown; */
    padding: 15px 10px;
    /* width: 95%; */
    /* margin-left: 9px; */
}
.con-sub>h3{
    margin: 0px 10px;
}
.con-2
{
    width: 80%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
/* .con-2-form
{
    background-color: aqua;
    align-items: flex-start;
    /* padding: 10px; */
    /* width: 350px;
    min-width: 100px; */
/* } */
/* .con-2-form>p
{
    margin: 5px 0px;
    font-weight: 700;
    font-size: medium;
    font-family: satoshi;
} */
.form
{
    margin-top: 50px;
    /* background-color: rgb(165, 78, 247); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
    width: 450px;
}
.form-2
{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    width: 100%;
}
.form-2>input
{
    padding: 14px 15px;
    border: 2px solid #ced4da;
    border-radius: 10px ;
    font-size: 16px;
    margin-bottom: 8px;
}
.form>h2{
    font-size: xx-large;
    margin: 15px 0px;
}
.form-2>h4{
    margin: 5px 0px;
}
.form-2>button
{
    font-size: 16px;
    padding: 14px 0px;
    border-radius: 9px ;
    border: 0px;
    background-color: blue;
    color: white;
    margin-top: 15px;
    
}
.otp
{
    padding: 30px 10px;
    display: flex;
    justify-content: center;

}
.otp>input
{
    padding: 15px 20px;
    border: 2px solid #ced4da;
    border-radius: 10px ;
    width: 10px;
    
    margin: 0px 12px ;
    font-size: 16px;
}